data/cifar-100-python.tar.gz
data/cifar-100-python.zip
data/tiny-imagenet-200.zip
data/cifar-100-python.tar.gz
data/cifar-100-python.zip
data/tiny-imagenet-200.zip
data/cifar-100-python.tar.gz
data/cifar-100-python.zip
data/tiny-imagenet-200.zip
data/cifar-100-python.tar.gz
data/cifar-100-python.zip
data/tiny-imagenet-200.zip
